# =====================
# Logs
# =====================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# Runtime Data
# =====================
*.pid
*.seed
*.pid.lock

# =====================
# Dependency Directories
# =====================
node_modules/
target/        # Maven ou Gradle
build/
dist/
out/

# =====================
# Parcel Cache
# =====================
.cache/
.parcel-cache/

# =====================
# Environment Variables
# =====================
.env
.env.*
.env.docker

# =====================
# IDE-Specific Files
# =====================
.idea/
.vscode/
*.iml

# =====================
# Java Build Artifacts
# =====================
*.class
*.jar
*.war
*.project
*.settings/
*.classpath
*.factorypath

# =====================
# Temporary Files
# =====================
*.swp
*.swo
*.swn
*.tmp
*.~lock.*

# =====================
# OS-Specific Files
# =====================
.DS_Store
Thumbs.db

# =====================
# Docker-Related Files
# =====================
docker-compose.override.yml
.dockerignore

# =====================
# Git-Specific
# =====================
*.orig
.git/

# =====================
# Cache and Coverage
# =====================
.coverage
coverage/
*.lcov

# =====================
# Parcel Hot Module Replacement
# =====================
.parcel-hmr

# =====================
# Test Output
# =====================
test-results/
.junit-reports/

keys.json
*.sqlite

Photoprism/storage/